<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Slim2 Skeleton</title>

  <!-- Bootstrap core CSS -->

  <link href="{{ baseUrl() }}/assets/css/bootstrap.min.css" rel="stylesheet">

  <link href="{{ baseUrl() }}/assets/fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ baseUrl() }}/assets/css/animate.min.css" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link href="{{ baseUrl() }}/assets/css/custom.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/assets/css/maps/jquery-jvectormap-2.0.3.css" />
  <link href="{{ baseUrl() }}/assets/css/icheck/flat/green.css" rel="stylesheet" />
  <link href="{{ baseUrl() }}/assets/css/floatexamples.css" rel="stylesheet" type="text/css" />

  <script src="{{ baseUrl() }}/assets/js/jquery.min.js"></script>
  <script src="{{ baseUrl() }}/assets/js/nprogress.js"></script>

  <!--[if lt IE 9]>
        <script src="{{ baseUrl()}}/assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>


<body class="nav-sm">

  <div class="container body">


    <div class="main_container">

      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">

          <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentellela Alela!</span></a>
          </div>
          <div class="clearfix"></div>

          <!-- menu prile quick info -->
          <div class="profile">
            <div class="profile_pic">
              <img src="{{ baseUrl() }}/images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2>{{ user.first_name }}</h2>
            </div>
          </div>
          <!-- /menu prile quick info -->

          <br />

          <!-- sidebar menu -->
          {% include 'sidebar_menu.html' %}
          <!-- /menu footer buttons -->
          <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
              <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
          </div>
          <!-- /menu footer buttons -->
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">

        <div class="nav_menu">
          <nav class="" role="navigation">
            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <img src="{{ baseUrl() }}/assets/images/img.jpg" alt="">{{ logged_user.first_name }} {{ logged_user.last_name}}
                  <span class=" user fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right">
                  <li><a href="{{ urlFor('user',{"id":logged_user.id}) }}">  Profile</a>
                  </li>
                  <li><a href="{{ urlFor('logout') }}"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>

      </div>
      <!-- /top navigation -->


      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>{{ page_title }}</h3>
            </div>

            <div class="title_right">
              <!-- <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                </div>
              </div> -->
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>{{ panel_title }}</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x-content">
                  {% block main %}{% endblock %}
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /page content -->

      <!-- footer content -->
      <footer>
        <div class="pull-right">
          Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>

  <div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
  </div>

  <script src="{{ baseUrl() }}/assets/js/bootstrap.min.js"></script>

  <!-- bootstrap progress js -->
  <script src="{{ baseUrl() }}/assets/js/progressbar/bootstrap-progressbar.min.js"></script>

  <script src="{{ baseUrl() }}/assets/js/custom.js"></script>

  <script>
    NProgress.done();
  </script>
{% include 'notifications.html' %}
<!-- /footer content -->
</body>

</html>
