<script type="text/javascript" src="{{ baseUrl() }}/assets/js/notify/pnotify.core.js"></script>
<script type="text/javascript">
    {% if flash.GoToTab %}
        $('a[href="#{{ flash.GoToTab }}"]').tab('show');
    {% endif %}
    {% if flash.Error %}
    new PNotify({
      title: 'Error',
      text: '{{ flash.Error|trans }}',
      type: 'error'
    });
    {% endif %}
    {% if flash.Info %}
    new PNotify({
      title: 'Info',
      text: '{{ flash.Info|trans }}',
      type: 'info'
    });
    {% endif %}
    {% if flash.Success %}
    new PNotify({
      title: '{{ "Success"|trans }}',
      text: '{{ flash.Success|trans }}',
      type: 'success'
    });
    {% endif %}
</script>
