<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

  <div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
      {% for key,entry in menu %}
        {% if entry.permission == 'admin'and isAdmin %}
          <li><a href="{{ baseUrl() }}/{{ entry.url }}"><i class="fa {{ entry.icon }}"></i> {{ key|trans }} </a>
          </li>
        {% elseif entry.permission == 'users' %}
          <li><a href="{{ baseUrl() }}/{{ entry.url }}"><i class="fa {{ entry.icon }}"></i> {{ key|trans }} </a>
              </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

</div>
