{% extends "base.html" %}

{% block main %}
      <table class="table table-striped jambo_table">
        <thead>
          <tr>
            <th>#</th>
            <th>{{ "First Name"|trans }}</th>
            <th>{{ "Last Name"|trans }}</th>
            <th>{{ "Username"|trans }}</th>
            <th>{{ "Action"|trans }}</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>
              <a href="{{ urlFor('user',{"id":user.id}) }}" title="{{ "Edit"|trans }}"><i class="fa fa-edit fa-lg"></i></a>
              <!-- <a href="path_for('delete',{'id':userid})"><i class="fa fa-remove"></i></a> -->
              <a href="#" title="{{ "Delete"|trans }}"><i class="fa fa-remove fa-lg"></i></a>
              <a href="#" title="{{ "Create"|trans }}"><i class="fa fa-plus fa-lg"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}
